<!DOCTYPE html>
<html lang="cs-cz">

<head th:replace="~{fragments/layoutProject.html :: head}"></head>

<body>
    <header th:replace="~{fragments/layoutProject.html ::header}">
    </header>
    <article>
        <header>
            <h1>Kontakt</h1>
        </header>
        <section>
            <p>
                <img src="/images/email.png" alt="email" class="vlevo" />
                Pokud mi chcete něco sdělit, napište mi email na <strong>cerny (tečka) michal93 (zavináč) gmail (tečka)
                    cz nebo využijte formuláře níže</strong>.
            </p>
            <p class="centrovany">
                <iframe frameborder="0" scrolling="no" width="500px" height="220px"
                    src="https://www.itnetwork.cz/api/Service-MailForm/672f9fa4b35157.21972034">
                </iframe>
            </p>
        </section>
        <div class="cistic"></div>
    </article>
    <footer>
        <a href="https://itnetwork.cz">itnetwork.cz</a>
    </footer>
</body>

</html>