<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/layoutProject.html :: head}"></head>

<body>
  <header th:replace="~{fragments/layoutProject.html ::header}"></header>
  <div class="py-2 flash-message message-success" th:text="${success}" th:if="${success}"></div>
  <div class="py-2 flash-message message-error" th:text="${error}" th:if="${error}"></div>


  <article>
    <div class=>
      <header>
        <h1>Nové pojištění pro <span th:text="${insuredPerson.firstName + ' ' + insuredPerson.lastName}"></span></h1>
      </header>
      <section>
        <input type="hidden" name="insuredPersonId" th:value="${insuredPerson.id}">

        <form th:object="${insuranceRecordDTO}" class="d-flex flex-column gap-2" method="post"
          th:action="@{/home/createRecord/{insuredPersonId}(insuredPersonId=${insuredPerson.id})}">
          <div class="form-group">
            <label for="insurance" class="control-label">Vyberte typ Pojištění</label></br>
            <select id="insurance" th:field="*{insurance}">
              <option value="Domacnosti">Domácnosti</option>
              <option value="Povinne Ruceni">Povinné ručení</option>
              <option value="Havarjní">Havarijní pojištění</option>
              <option value="Odpovednosti">Odpovědnosti</option>
              <option value="Životní">Životní</option>
              <option value="Úrazové">Úrazové</option>
              <option value="Majetku">Majetku</option>
            </select>
            <small class="text-danger" th:errors="*{insurance}"></small>
          </div>
          <div class="form-group">
            <label for="subjectOfInsurance" class="control-label">Předmět pojištění:</label></br>
            <input id="subjectOfInsurance" th:field="*{subjectOfInsurance}" placeholder="Byt" />
            <small class="text-danger" th:errors="*{subjectOfInsurance}"></small>
          </div>
          <div class="form-group">
            <label for="amount" class="control-label">Částka:</label></br>
            <input id="amount" th:field="*{amount}" placeholder="např. 600" />
            <small class="text-danger" th:errors="*{amount}"></small>
          </div>
          <div class="form-group">
            <label for="dateFrom" class="control-label">Platnost od:</label></br>
            <input id="dateFrom" th:field="*{dateFrom}" placeholder="01.01.2025" />
            <small class="text-danger" th:errors="*{dateFrom}"></small>
          </div>
          <div class="form-group">
            <label for="dateTo" class="control-label">Platnost do:</label></br>
            <input id="dateTo" th:field="*{dateTo}" placeholder="31.12.2026" />
            <small class="text-danger" th:errors="*{dateTo}"></small>
          </div>
          <div class="form-group">
            <button type="submit" class="zaznam-tlacitko">Uložit</button>
          </div>

        </form>

        <p>
          <a class="zaznam-tlacitko" th:href="@{/}">Zpět na Evidenci</a>
        </p>
      </section>
    </div>
  </article>

  <footer th:replace="~{fragments/layoutProject.html :: footer}"></footer>
</body>

</html>