<!DOCTYPE html>
<html lang="cs-cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mé dovednosti, mezi které patří programování v Java" />
    <meta name="keywords" content="programátor, Michal, dovednosti, java" />
    <meta name="author" content="Michal" />
    <link rel="shortcut icon" href="obrazky/ikona.png" />
    <link rel="stylesheet" href="styl.css" type="text/css" />
    <title>Dovednosti</title>
</head>
<body>
    <header>
        <div id="logo">
            <h1>Michal<span>Černý</span></h1>
            <small>Teamleader</small>
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Domů</a></li>
                <li><a href="omne.html">O mně</a></li>
                <li class="aktivni"><a href="dovednosti.html">Dovednosti</a></li>
                <li><a href="reference.html">Reference</a></li>
                <li><a class="kontakt-tlacitko" href="kontakt.html">Kontakt</a></li>
            </ul>
        </nav>
    </header>
    <article class="dovednosti">
        <header>
            <h1>Dovednosti</h1>
        </header>
        <table id="dovednosti">
            <section>
            <tr class="centrovany">
                <td>
                <img src="obrazky/html.png" alt="HTML" />
                </td>
             <td>
                <img src="obrazky/java.png" alt=" JAVA" />
                </td>
                <td>
                <img src="obrazky/vba.png" alt="VBA" />
                </td>
            </tr>
            <tr class="centrovany">
                <td>
                    <h2>HTML</h2>
                    <p>S HTML začínám a umím vytvořit jednoduché webové stránky, jako jsou tyto.</p>
                </td>
                <td>
                <h2>Java</h2>
                <p>Javu se učím z tutoriálů na <a href="https://www.itnetwork.cz"> IT network</a></p>
                </td>
                <td>
                <h2>VBA</h2>
                <p>S VBA jsem se učil základy v roce 2022.</p>
                </td>
            </tr>
        </table>

            <h2>Zkouška</h2>
                        <p>Pro zneškodnění výbušniny přestřihněte <strong>červený</strong> drát, modrý drát může zapříčinit explozi.</p>
                        <p>Spusťte editor registru příkazem <em>regedit.exe</em>. <strong>Neručím za případné škody!</strong></p>
                        <p><strong><em>Tento text bude vykreslen jako kurzíva i jako tučný.</em></strong></p>
                    <h2>Ukázka piškvorky</h2>
                        <p><a href="piskvorky.html">Piškvorky</a></p>
                        <p><a href="seznam.html">Seznam</a></p>
                    <h2>Vysavač</h2>
                        <a href="vysavac.html">SuperTurbo Cleaner++</a>    
                    <h2>Seznam zaměstnanců</h2>
                        <a href="tabulka-zamestnancu.html">TAbulka zaměstnanců</a>
            <p><a href="index.html">Zpět na hlavní stranu</a></p>
            </section>
    </article>
    <footer>
        Vytvořil &copy;Michal Černý 2024 pro <a href="https://itnetwork.cz">itnetwork.cz</a>
    </footer>
</body>
</html>