<!DOCTYPE html>
<html lang="cs-cz">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
<header th:replace="~{fragments/layout.html ::header}"></header>
    <article class="dovednosti">
        <header>
            <h1>Dovednosti</h1>
        </header>
        <table id="dovednosti">
            <section>
            <tr class="centrovany">
                <td>
                <img th:src="@{images/html.png}" alt="HTML" />
                </td>
                <td>
                <img th:src="@{images/java.png}" alt=" JAVA" />
                </td>
                <td>
                <img th:src="@{images/vba.png}" alt="VBA" />
                </td>
            </tr>
            <tr class="centrovany">
                <td>
                    <h2>HTML</h2>
                    <p>S HTML začínám a umím vytvořit jednoduché webové stránky, jako jsou tyto.</p>
                </td>
                <td>
                <h2>Java</h2>
                <p>Javu se učím z tutoriálů na <a href="https://www.itnetwork.cz"> IT network</a></p>
                </td>
                <td>
                <h2>VBA</h2>
                <p>S VBA jsem se učil základy v roce 2022.</p>
                </td>
            </tr>
        </table>

            <h2>Zkouška</h2>
                        <p>Pro zneškodnění výbušniny přestřihněte <strong>červený</strong> drát, modrý drát může zapříčinit explozi.</p>
                        <p>Spusťte editor registru příkazem <em>regedit.exe</em>. <strong>Neručím za případné škody!</strong></p>
                        <p><strong><em>Tento text bude vykreslen jako kurzíva i jako tučný.</em></strong></p>
                    <h2>Ukázka piškvorky</h2>
                        <p><a href="piskvorky.html">Piškvorky</a></p>
                        <p><a href="seznam.html">Seznam</a></p>
                    <h2>Vysavač</h2>
                        <a href="vysavac.html">SuperTurbo Cleaner++</a>    
                    <h2>Seznam zaměstnanců</h2>
                        <a href="tabulka-zamestnancu.html">TAbulka zaměstnanců</a>
            <p><a th:href="index.html">Zpět na hlavní stranu</a></p>
            </section>
    </article>
<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>