<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/layoutProject.html :: head}"></head>

<body>
    <header th:replace="~{fragments/layoutProject.html ::header}">
    </header>
    <div class="py-2 flash-message message-success" th:text="${success}" th:if="${success}"></div>
    <div class="py-2 flash-message message-error" th:text="${error}" th:if="${error}"></div>

    <article>
        <div id="centrovac">
            <header>
                <h1>Evidence pojištěnců</h1>
            </header>
            <section>

                <p sec:authorize="hasRole('ADMIN')"><a class="zaznam-tlacitko"
                        th:href="@{/createInsuredPerson}">Vytvořit nový záznam pojištěného</a></p>

                <div th:if="${noInsuredPerson}">
                    <p th:text="${noInsuredPerson}"></p>
                </div>

                <div class="container mt-4">
                    <div class="row" id="zaznam">
                        <li th:each="record: ${insuredPersonDTO}" class="col-12 mb-4">
                            <div class="card">
                                <div class="card-body">

                                    <h5 class="card-title">
                                        <a th:href="@{/insuredPersonDetail/{id}(id=${record.id})}"
                                            th:text="${record.firstName + ' ' + record.lastName}"></a>
                                    </h5>
                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-4 mb-1">
                                            <p><strong>Email:</strong> <span th:text="${record.email}"></span></p>
                                        </div>
                    
                                        <div class="col-12 col-sm-6 col-md-4 mb-1">
                                            <p><strong>Telefonní číslo:</strong> <span
                                                    th:text="${record.phoneNumber.startsWith('+') ? record.phoneNumber : '+420' + record.phoneNumber}"></span>
                                            </p>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 mb-1">
                                            <p><strong>Ulice:</strong> <span th:text="${record.street}"></span></p>
                                        </di>
                                        <div class="col-12 col-sm-6 col-md-4 mb-1">
                                            <p><strong>Město:</strong> <span th:text="${record.city}"></span></p>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 mb-1">
                                            <p><strong>PSČ:</strong> <span th:text="${record.zipCode}"></span></p>
                                        </div>
                                        <div sec:authorize="hasRole('ADMIN')" class="mt-3">
                                            <p>
                                                <a th:href="@{/editInsuredPeople/{id}(id=${record.id})}"
                                                    class="btn btn-warning btn-sm">Editovat</a>
                                                <a th:href="@{/deleteInsured/{id}(id=${record.id})}"
                                                    onclick="return confirm('Opravdu chcete smazat tohoto pojištěného?');"
                                                    class="btn btn-danger btn-sm">Odstranit</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </div>
                </div>

            </section>
        </div>
    </article>
    <footer th:replace="~{fragments/layoutProject.html :: footer}"></footer>
</body>

</html>