<!DOCTYPE html>
<html lang="en">
<head th:fragment="head">
  <meta charset="utf-8" />
  <link rel="stylesheet" th:href="@{/styles/lightbox.min.css}" type="text/css"/>
  <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}" type="text/css"/>
  <link rel="stylesheet" th:href="@{/styles/styl.css}" type="text/css"/>
  <title>Moje první webová stránka</title>
  <meta name="description" content="Osobní portfolio programátora Michala." />
  <meta name="keywords" content="portfolio, programátor, Michal" />
  <meta name="author" content="Michal" />
  <link rel="shortcut icon" th:href="@{/images/ikona.png}" />
  <script th:src="@{/scripts/lightbox-plus-jquery.min.js}"></script>
</head>
<body>
<header th:fragment="header">
  <div id="logo">

    <h1>Michal<span>Černý</span></h1>
    <small>Teamleader</small>

  </div>

  <nav>
    <ul>
      <li><a th:href="@{/}">Domů</a></li>
      <li><a th:href="@{/projects/evidencePojistencu}">Projekty</a></li>
      <li><a th:href="@{/projects/createRecord}">Vytvořit záznam</a></li>
      <li><a th:href="@{/projects/createInsuredPerson}">Registrovat Pojištěného</a></li>
      <li><a th:href="@{/contact}">Kontakt</a></li>
      <li sec:authorize="isAnonymous()"><a th:href="@{/account/login}">Přihlásit se</a></li>
      <li sec:authorize="isAnonymous()"><a th:href="@{/account/register}">Registrovat</a></li>
      <li>
        <form method="post" th:action="@{/account/logout}">
          <button class="btn text-white" sec:authorize="isAuthenticated()">Odhlásit se</button>
        </form>
      </li>
    </ul>
  </nav>
</header>


<footer th:fragment="footer">
  Vytvořil &copy;Michal Černý 2024 pro <a href="https://itnetwork.cz">itnetwork.cz</a>
</footer>
</body>
</html>