<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/layoutProject.html :: head}"></head>
<body>
<header th:replace="~{fragments/layoutProject.html ::header}"></header>

<article>
  <div id="centrovac">
    <header>
      <h1>Nový Pojištěnec</h1>
    </header>
    <section>

      <form th:object="${insururedPersonDTO}" class="d-flex flex-column gap-2"
            method="post"
            th:action="@{/projects/createInsuredPerson}">
        <div class="form-group">
          <label for="firstName" class="control-label">Jméno</label>
          <input id="firstName" th:field="*{firstName}">
          <small class="text-danger" th:errors="*{firstName}"></small>
        </div>
        <div class="form-group">
          <label for="lastName" class="control-label">Příjmení</label>
          <input id="lastName" th:field="*{lastName}">
          <small class="text-danger" th:errors="*{lastName}"></small>
        </div>
        <div class="form-group">
          <label for="email" class="control-label">Email</label>
          <input id="email" th:field="*{email}">
          <small class="text-danger" th:errors="*{email}"></small>
        </div>
        <div class="form-group">
          <label for="phoneNumber" class="control-label">Telefon</label>
          <input id="phoneNumber" th:field="*{phoneNumber}">
          <small class="text-danger" th:errors="*{phoneNumber}"></small>
        </div>
        <div class="form-group">
          <label for="street" class="control-label">Ulice a číslo popisné</label>
          <input id="street" th:field="*{street}">
          <small class="text-danger" th:errors="*{street}"></small>
        </div>
        <div class="form-group">
          <label for="city" class="control-label">Město</label>
          <input id="city" th:field="*{city}">
          <small class="text-danger" th:errors="*{city}"></small>
        </div>
        <div class="form-group">
          <label for="zipCode" class="control-label">PSČ</label>
          <input id="zipCode" th:field="*{zipCode}">
          <small class="text-danger" th:errors="*{zipCode}"></small>
        </div>

        <div class="form-group">
          <button type="submit" class="zaznam-tlacitko">Uložit</button>
        </div>

      </form>

      <p>
        <a class="zaznam-tlacitko" th:href="@{/projects/evidencePojistencu}">Zpět na Evidenci</a>
      </p>
    </section>
  </div>
</article>

<footer th:replace="~{fragments/layoutProject.html :: footer}"></footer>
</body>
</html>