<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/layoutProject.html :: head}"></head>
<body>
<header th:replace="~{fragments/layoutProject.html ::header}">
</header>
<div class="py-2 flash-message message-success" th:text="${success}" th:if="${success}"></div>
<div class="py-2 flash-message message-error" th:text="${error}" th:if="${error}"></div>

<article>
    <div id="centrovac">
        <header>
            <h1>Evidence pojištění</h1>
        </header>
<section>
    <p>
        <a class="zaznam-tlacitko" th:href="@{/projects/createRecord}">Vytvořit nový záznam</a>
    </p>

    <ul class="list-group" id="zaznam">
        <li th:each="record: ${insuranceRecordDTO}" class="list-group-item">
            <div class="table-responsive">
            <table class="table table-bordered table-fixe">
                <thead>
                <tr>

                    <h2 th:text= "${record.insurance}"></h2>

                </tr>
                </thead>

        <div>
            <tbody>
            <tr>
                <td class="text-nowrap">
                    <p><strong>Předmět pojištění:</strong> </p>
                    <p><a th:text="${record.subjectOfInsurance}"></a></p>
                </td>
                <td class="text-nowrap">
                    <p><strong>Částka:</strong> </p>
                    <p><span th:text="${record.amount}"></span> Kč</p>
                </td>
                <td class="text-nowrap">
                    <p><strong>Platnost od:</strong></p>
                    <p><span th:text="${record.dateFrom}"></span></p>
                </td>
                <td class="text-nowrap">
                    <p><strong>Platnost do:</strong> </p>
                    <p><span th:text="${record.dateTo}"></span></p>
                </td>
                <td class="text-nowrap">
                    <p sec:authorize="hasRole('ADMIN')"><a th:href="@{/projects/editRecord/{insuranceId}(insuranceId=${record.insuranceId})}">Editovat</a></p>
                    <p sec:authorize="hasRole('ADMIN')"><a th:href="@{/projects/delete/{insuranceId}(insuranceId=${record.insuranceId})}">Odstranit</a></p>
                </td>
            </tr>
            </tbody>
        </div>
            </table>
            </div>
        </li>
    </ul>

</section>
    </div>
</article>
<footer th:replace="~{fragments/layoutProject.html :: footer}"></footer>
</body>
</html>